<%= javascript_include_tag 'tournaments/add_rules' %>
<h1><a href="<%= events_show_path @tournament.event_id %>"><%= @tournament.event.name %></a></h1>
<h2><a href="<%= tournaments_show_path @tournament.id %>"><%= @tournament.name %></a></h2>
<div class="tournaments-add-rules">
  <h1>Rules</h1>

  <form action="<%= tournaments_create_scores_path(@tournament.id) %>" method="POST" role="form" class="tournaments-add-rules-form">
    <%= render partial: 'partials/authenticity_token' %>
    <input type="hidden" name="tournament[id]" value="<%= @tournament.id %>">

    <% @tournament.scores.each do |score| %>
      <%= render partial: 'new_score', locals: { selected_value: score.target, default_points: score.points } %>
    <% end %>

    <div><a href="#" class="tournaments-rules-add-more">Add more</a></div>
    <button class="btn btn-primary tournaments-submit-rules-button">Save</button>
    <div class="alert alert-danger tournaments-form-alert tournaments-form-alert-hidden" role="alert"></div>
    <div class="alert alert-success tournaments-form-alert tournaments-form-alert-hidden" role="alert"></div>
  </form>
</div>