<h1><%= @tournament.name %></h1>
<ul>
  <% @pools.each do |pool| %>
    <li>
      <%= pool.name %>
      <ul>
        <% pool.fighters.each do |fighter| %>
          <li>
            <%= fighter.first_name %> <%= fighter.last_name %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
 <form action="<%= pools_create_path %>" method="POST" role="form">
    <%= render partial: 'partials/authenticity_token' %>
    <input type="hidden" name="pool[tournament_id]" value="<%= @tournament.id %>">
    <button class="btn btn-primary sign-in-button">Add pool</button>
  </form>    