<%= javascript_include_tag 'tournaments/tournament_pools' %>

<h1><a href="<%= events_show_path @tournament.event_id %>"><%= @tournament.event.name %></a></h1>
<h2><a href="<%= tournaments_show_path @tournament.id %>"><%= @tournament.name %></a></h2>
<ul class='tournament-pools-list'>
  <% @tournament.pools.each do |pool| %>
    <li class='tournament-pools-item' data-pool="<%= pool.id %>">
      <a href="<%= pool_matches_path pool.id %>"><%= pool.name %></a>
      <% if pool.name != Pool::DEFAULT_POOL && current_user %>
        <form action="<%= pools_destroy_path(pool) %>" class="event-delete-form" method="post">
          <input name="_method" type="hidden" value="delete">
          <input class="btn btn-small" type="submit" value="X">
          <%= render partial: 'partials/authenticity_token' %>
        </form>
      <% end %>
      <ul class='tournament-pool-fighters-sortable'>
        <% pool.fighters.each do |fighter| %>
          <li class='tournament-pools-fighter-item' data-fighter="<%= fighter.id %>">
            <%= fighter.first_name %> <%= fighter.last_name %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<% if current_user %>
  <form action="<%= pools_create_path %>" method="POST" role="form" class="add-pool-button">
    <%= render partial: 'partials/authenticity_token' %>
    <input type="hidden" name="pool[tournament_id]" value="<%= @tournament.id %>">
    <button class="btn btn-primary">Add pool</button>
  </form>

  <button type='button' class='btn btn-primary save-pools-button'
          data-path="<%= tournaments_save_pools_path @tournament.id %>">Save</button>
  <span class="alert alert-info tournament-pools-alert alert-hidden"></span>
<% end %> 
