<ul>
  <% if current_user %>
    <li><a href="<%= events_new_path %>">New event</a></li>
  <% end %>
  <% @events.each do |event| %>
    <li><a href="<%= events_show_path event %>">
      <%= event.name %> <%= event.date %></a>
      <% if current_user %>
        <form action="<%= events_destroy_path(event) %>" class="event-delete-form" method="post">
          <input name="_method" type="hidden" value="delete">
          <input class="btn btn-small" type="submit" value="X">
          <%= render partial: 'partials/authenticity_token' %>
        </form>
      <% end %>
    </li>
  <% end %>
</ul>