<h1><a href="<%= tournaments_show_path @match.pool.tournament.id %>"><%= @match.pool.tournament.name %></a></h1>
<h2><a href="<%= pool_matches_path @match.pool.id %>"><%= @match.pool.name %></a></h2>
<h3>Status:
  <% if @match.completed? %>
    Completed
  <% elsif @match.started? %>
    In Progress
  <% else %>
    Not Started
  <% end %>
</h3>
<% if current_user %>
  <a href="<%= exchanges_new_path @match.id %>">New Exchange</a>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Exchange</th>
      <th>Time</th>
      <th>Fighter</th>
      <th>Target</th>
      <th>Points</th>
      <th>Afterblow</th>
      <th>Double Hit</th>
    </tr>
  </thead>
  <tbody>
    <% @match.exchanges.each_with_index do |exchange, index| %>
      <tr>
        <td>
          Exchange <%= index + 1 %>
        </td>
        <td>
          <%= time_in_minutes_from_seconds(exchange.seconds) %>
        </td>
        <td>
          <%= fighter_full_name(exchange.fighter) %>
        </td>
        <td>
          <%= exchange.target.capitalize %>
        </td>
        <td>
          <%= exchange.points %>
        </td>
        <td>
          <%= exchange.afterblow %>
        </td>
        <td>
          <%= exchange.double_hit %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
